body {
  background-color: rgb(245, 216, 176);
}

.bold {
  font-size: 36px;
  color: black;
}
h1 {
  font-size: 150px;
  font-family: "Merriweather", serif;
  margin-left: 80px;
}

h3 {
  margin-left: 80px;
}

img {
  width: 250px;
  height: auto;
  margin-right: 20px;
  margin-left: 80px;
}

.navbar-brand {
  font-family: "Merriweather", serif;
  font-size: 48px;
  margin-left: 50px;
  margin-bottom: 36px;
  color: rgb(77, 73, 73);
}

.footer {
  width: 100vw;
  display: block;
  overflow: hidden;
  padding: 30px 0;
  box-sizing: border-box;
  background-color: rgb(43, 90, 25);
  position: fixed;
  bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: auto;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

#main-bio,
#bio-image {
  float: left;
}

a {
  font-size: 18px;
}

p {
  font-size: 18px;
  margin-left: 80px;
  margin-right: 80px;
  font-family: "Merriweather", serif;
}

.gitHub,
.linkedIn,
.resume {
  margin-left: 80px;
}
